<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HW1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5DC0A6191E2DB5D000567D8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DC0A62D1E2DB5D100567D8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DC0A6381E2DB5D100567D8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
